* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
#mainHeader1 {
  text-align: center;
}
#header {
  width: 100%;
  height: 50px;
}
#menu {
  background-color: #ffb74d;
}
.menuItem {
  width: 40%;
  overflow: hidden;
  margin: 0 auto;
}
.menuItem > li {
  width: 20%;
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #ffb74d;
}
.subMenu > li {
  line-height: 50px;
  background-color: #ffb74d;
}
.subMenu {
  height: 0;
  overflow: hidden;
}
.menuItem {
  text-align: center;
  background-color: #ffb74d;
}
.menuItem > li:hover {
  transition-duration: 0.5s;
}
.menuItem > li:hover .subMenu {
  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;
}
li {
  list-style: none;
}
.aText {
  text-decoration: none;
  color: #000;
  background-color: #ffb74d;
  font-size: 0.8em;
}
.aText:hover {
  font-size: 1.1em;
}
#malrangLogo {
  width: 50px;
  height: 50px;
  margin-left: 20%;
  border-left: 1px solid #ffb74d;
  border-right: 1px solid #ffb74d;
  margin-bottom: 1px;
}
#imgText {
  display: inline-block;
  font-size: 2em;
  overflow: hidden;
  margin-bottom: 5px;
  margin-left: 5%;
  font-family: "Moirai One", cursive;
}
#members {
  width: 200px;
  float: right;
  margin-left: 15%;
  margin-top: 15px;
}
#members li {
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
.mText {
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
}
.mText:hover {
  font-size: 1em;
}
