* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
/* youtube */
#mainVideo {
  text-align: center;
  background-color: #000;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* youtube side 검정 배경 지우기 용도 */
#videoLeftSide {
  width: 15%;
  height: 620px;
  background-color: #fff;
  position: absolute;
}
#videoRightSide {
  width: 15%;
  height: 620px;
  background-color: #fff;
  margin-left: 85%;
  margin-bottom: 100px;
  position: absolute;
}

/*main2*/
/* main image */
#mainPic {
  width: 100%;
  height: 1200px;
}
.mainImg {
  width: 50%;
  height: 100%;
  display: block;
  margin: auto;
  filter: drop-shadow(6px 6px 6px #c3c3c3);
  border-radius: 16px;
  border: 1px solid #ccc;
}
/* main image Text */
#mainImgText {
  position: absolute;
  opacity: 0;
  font-size: 2.5em;
}
/* main image hover */
#mainImg:hover {
  cursor: pointer;
  opacity: 0.3;
}

/* image button */
.btn_img {
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: 30px;
  border: none;
  background-color: rgb(255, 255, 255, 0);
}
.btn_img:hover {
  cursor: pointer;
  font-size: 35px;
  font-weight: bold;
}
#btn_left {
  margin-left: 18%;
  margin-top: 12%;
}
#btn_right {
  margin-left: 76%;
  margin-top: 12%;
}

/*discord*/
#malrangDiscord {
  width: 100%;
  height: 200px;
}
#innerDis {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  position: relative;
}
#discord {
  width: 50%;
  height: 100%;
  border-radius: 16px;
  filter: drop-shadow(6px 6px 6px #c3c3c3);
  vertical-align: middle;
  margin-top: 20px;
}
/* discord Text */
#disText {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 1.3em;
  font-family: monospace;
  text-align: center;
  color: #000;
  font-weight: bold;
  display: none;
}
/* discord hover */
#discord:hover {
  cursor: pointer;
  opacity: 0.3;
}
#discord:hover + #disText {
  display: block;
}

/* kakao */
#malrang-openKakao {
  width: 100%;
  height: 200px;
}
#innerKakao {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  position: relative;
}
#kakao {
  width: 50%;
  height: 100%;
  border-radius: 16px;
  filter: drop-shadow(6px 6px 6px #c3c3c3);
  vertical-align: middle;
  margin-top: 40px;
}
/* kakao Text */
#kakaoText {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 1.3em;
  font-family: monospace;
  text-align: center;
  color: #000;
  font-weight: bold;
  display: none;
}
/* kakao hover */
#kakao:hover {
  cursor: pointer;
  opacity: 0.3;
}
#kakao:hover + #kakaoText {
  display: block;
}
